          
          
          <div style="text-align: center; padding-top: 10px;">
<a href="../../absence-manuel/{{id}}" class="btn btn-success btn-lg"> Terminer</a>
</div>
          <form>
              <meta http-equiv="refresh" content="10">

           <!-- <button type="button" id="gen" class="btn btn-primary btn-block">Generate QR Code</button>-->
            <img style="width: 750px; height: 750px; margin-left: auto;margin-right: auto; display: block;" src="{{url}}">
          </form>
          