<section class="login">
<div class="signin">

	<form action="/login" method="post">
		<h2 class="text-center">Sign IN</h2>
			<input type="email" name="email" placeholder="Enter Email">
			<br>
			<input type="password" name="password" placeholder="Enter Password">
			<br>
		<button type="submit" class="btn">Sign In</button>
	</form>
</div>
</section>